parameters:
  level: 4
  bootstrapFiles:
    - constants.php
  paths:
    - src
    - tests
  ignoreErrors:
    - '#Constant ([a-zA-Z0-9]|_)* not found.#'
includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon