<?xml version="1.0"?>
<phpunit
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<ini name="display_errors" value="On" />
		<ini name="display_startup_errors" value="On" />
	</php>
	<testsuites>
		<testsuite name="tests">
			<directory suffix=".php">./tests/php/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
