.tlbm-booking-overview-box {
  padding: 20px;
  border: 1px solid lightgray;
  display: flex;

  h3.tlbm-overview-section-title {
    margin-top: 2em;
    margin-bottom: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  .tlbm-formular-booked-calendar {
    margin-left: 40px;
  }
}

.tlbm-book-now-btn {
  margin-top: 20px;
}

