.tlbm-booking-overview-box {
  padding: 20px 0;
  display: flex;
  justify-content: stretch;

  .tlbm-overview-section-title {
    margin-top: 1.5em;
    margin-bottom: 0.7rem;
    font-size: 1.3em;

    &:first-child {
      margin-top: 0;
    }
  }

  .tlbm-formular-booked-calendar {
    flex-grow: 1;
    margin-left: 40px;
  }

  .tlbm-formular-content {
    flex-grow: 1;
  }
}

.tlbm-book-now-btn {
  margin-top: 20px;
}

