$calendar-table-background: #f5f5f5;
$calendar-table-cell-background: #ffffff;
$calendar-table-cell-today-background: #e3fcff;

.tlbm-no-calendar-alert {
  border: 1px solid red;
  padding: 20px;
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
}

.tlbm-frontend-form {
  .tlbm-calendar-container {
    margin-bottom: 20px;
  }
}

.tlbm-calendar-container {
  transition-property: opacity;
  transition-delay: 0.5s;
  transition-duration: 0.2s;

  .tlbm-month-view-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
    align-items: center;

    .tlbm-month-view-current-month {
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
    }
  }

  .tlbm-button-select-another {
    margin-top: 20px;
    padding: 5px 10px;
  }

  .tlbm-calendar-show-selected-date {
    font-size: 2em;
    margin: 0;
  }

  .tlbm-button-calendar-month-traverse {
    padding: 0.5em 0.75em !important;
  }

  .tlbm-calendar-table {
    width: 100%;
    box-shadow: 0 2px 3px 0 #dedede;
    display: grid;
    border-radius: 5px 5px 10px 10px;
    overflow: hidden;

    .tlbm-head-weekday {
      align-self: center;
      justify-self: stretch;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.05);
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 1.1em;
      word-wrap: normal;
    }

    .tlbm-cell {
      padding: 5px;
      min-height: 4em;
      border: 3px solid transparent;

      .tlbm-datenumber-span {
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.03);
        display: flex;
        width: 2em;
        height: 2em;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-size: 1em;
      }

      &.tlbm-cell-not-empty {
        background-color: $calendar-table-cell-background;
      }

      &:not(.tlbm-cell-not-empty) {
        background-color: rgba(0, 0, 0, 0.03);
      }

      &.tlbm-cell-selectable {
        transition-property: background-color;
        transition-duration: 0.1s;
        background-color: transparent;

        &:hover {
          cursor: pointer;
          border-radius: 3px;
          background-color: rgba(0, 0, 0, 0.01);
          position: relative;
          z-index: 10;
        }

        &.tlbm-cell-selected {
          border-radius: 10px;
          border: 3px solid #72cb72;
          position: relative;
          background-color: #e3ffe3;

          .dashicons {
            position: absolute;
            bottom: 5px;
            right: 5px;
            color: #45c745;
          }

          .tlbm-datenumber-span {
            background-color: #45c745;
            color: white;
          }
        }
      }

      &.tlbm-cell-not-bookable {
        opacity: 0.4;
      }
    }
  }

  .tlbm-month-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .tlbm-month-title {
      font-size: 20px;
    }

    .tlbm-next-month, .tlbm-prev-month {
      width: 120px;
      padding: 5px;
    }
  }


  .tlbm-calendar-month-view {
    &.tlbm-calendar-small {
      .tlbm-datenumber-span {
        font-size: 0.7em;
      }
    }
  }
}

.tlbm-calendar-date-selected {
  margin-bottom: 20px;
}

.tlbm-selected-date-finished-container {
  padding: 10px;
  background: rgba(0, 0, 0, 0.05);
}

.tlbm-input-title {
  display: block;
}

.tlbm-input-field {
  width: 100%;
}