.tlbm-draggable-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tlbm-draggable {
  cursor: pointer;
}
.tlbm-dragging {
  opacity: 0.4;
  cursor: move;
} 