.tlbm-form-editor {
  .tlbm-form-container {
    padding: 0 10px 10px 10px;
    background-color: #ffffff;
    margin: 20px 0 0 0;
    border: 2px solid #f5f5f5;

    .tlbm-form-dragdrop-container {
      padding: 20px 0;
    }
  }

  .tlbm-editor-root-container {
    padding: 10px 5px;

    &.tlbm-empty-container {
      padding: 0;
    }
  }

  .tlbm-button-add-element:not(:first-child) {
    margin-top: 10px;
  }

  .tlbm-is-dragging-over-container {
    border: 4px solid #135e96 !important;
  }

  .tlbm-draggable-container {
    transition-property: border;
    transition-duration: 0.1s;
  }

  .tlbm-draggable {
    min-height: 50px;

    .tlbm-form-item-box {
      background-color: white;
      color: black;
      font-weight: bold;
      padding: 20px;
      border: 1px solid #e1e1e1;
      transition-property: border;
      transition-duration: 0.2s;
      border-radius: 3px;

      &:hover {
        border: 1px solid #797979;
      }
    }

    .tlbm-form-calendar-box {
      height: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      font-size: 1.2rem;

      .tlbm-form-settings-print-title {

      }

      .tlbm-form-calendar-box-calendar-name {
        display: flex;
        justify-content: center;
        align-items: end;

        span.dashicons {
          margin-right: 5px;
        }
      }
    }

    .tlbm-form-item-spacing-box {
      background-color: transparent;
      color: black;
      font-weight: bold;
      padding: 20px;
      border: 1px solid transparent;
      transition-property: border;
      transition-duration: 0.2s;

      &:hover {
        border: 1px solid #797979;
      }
    }

    .tlbm-form-item-columns {
      display: flex;
      border-radius: 3px;

      &:hover > .tlbm-form-column {
        border: 1px solid rgb(147, 167, 194);
      }

      .tlbm-form-column {
        background-color: #fdfeff;
        border-radius: 3px;
        flex-grow: 1;
        min-height: 100px;
        flex-basis: 0;
        padding: 10px;
        margin: 0 10px 0 0;
        transition-property: padding, border;
        transition-duration: 0.2s;
        border: 1px solid rgba(205, 223, 248, 1);

        &:last-child {
          margin: 0;
        }

        .tlbm-form-container-empty {
          border: 1px solid rgba(0, 0, 0, 0.1);
          padding: 10px;

          &:not(:first-child) {
            margin: 10px 0;
          }
        }
      }
    }
  }

  .tlbm-editor-is-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 10px 5px;
    border: 1px solid #dedede;
    padding: 30px;
    border-radius: 3px;
  }

  .tlbm-form-item-container {
    position: relative;
    transition-property: box-shadow;
    transition-duration: 0.15s;
    overflow: hidden;

    &:not(:first-child) {
      margin: 10px 0;
    }

    .tlbm-drop-line-top, .tlbm-drop-line-bottom {
      background-color: #135e96;
      height: 4px;
      width: 100%;
      transition-property: all;
      transition-duration: 0.1s;
    }

    .tlbm-drop-line-top {
      margin: 0 0 5px 0;
    }

    .tlbm-drop-line-bottom {
      margin: 5px 0 0 0;
    }

    .tlbm-drop-line-disabled {
      height: 0;
      margin: 0;
    }

    .tlbm-form-item-hr {
      margin: 30px 0;
    }

    .tlbm-form-item-calendar {
      height: 200px;
      background-color: #efefef;
      font-size: 24px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.tlbm-item-mouse-over {
      box-shadow: 0 0 5px 0 #d9d9d9;
    }

    &.tlbm-item-selected {
      border: 2px solid #99beec;
      border-radius: 5px;
    }

    .tlbm-form-settings-print-subtitle {
      color: #bfbfbf;
      font-weight: normal;
      margin-left: 10px;
    }

    .tlbm-form-settings-print-required {
      margin-left: 10px;
      font-weight: normal;
      padding: 5px 10px;
      border-radius: 5px;
      background: rgb(255, 224, 224);
    }
  }
}

.tlbm-window-outer.closed {
  display: none;
  opacity: 0;
}

.tlbm-window-outer {
  position: fixed;
  z-index: 9991;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  opacity: 1;
  display: flex;

  .tlbm-window-inner {
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    max-width: 80%;
  }
}

.tlbm-form-editor-select-element-window {
  .tlbm-add-elements-window-inner {
    padding: 0 !important;
    box-shadow: 0 0 30px 0 gray;
    width: 60%;
    min-width: 500px;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .tlbm-add-elements-list-container {
      overflow-y: scroll;
      flex-grow: 1;
      padding: 20px;
    }

    .tlbm-add-elements-top-bar {
      display: flex;
      box-shadow: 0 2px 3px 0 #dedede;
      z-index: 10;
      padding: 10px;

      input {
        font-size: 1.2rem;
        flex-grow: 1;
      }
    }

    .tlbm-form-elements-list {
      display: flex;
      flex-wrap: wrap;

      h3 {
        display: block;
        width: 100%;
      }
    }

    .tlbm-close-button {
      float: right;
      margin-left: 20px;
    }

    .tlbm-element-list-item {
      display: flex;
      padding: 10px;
      background-color: #fcfcfc;
      margin: 0 10px 10px 0;
      min-width: 200px;
      max-width: 200px;
      flex-direction: column;
      cursor: pointer;
      flex-basis: 300px;
      flex-grow: 1;
      flex-shrink: 0;
      border: 1px solid rgb(215, 215, 215);
      transition-property: box-shadow, background-color;
      transition-duration: 0.2s;
      font-size: 16px;

      .tlbm-elem-description {
        font-size: 13px;
        color: gray;
        margin-top: 5px;
      }

      &:hover {
        background-color: rgb(245, 245, 245);
        box-shadow: 0 0 4px 0 #c8c8c8;
      }

      &:active {
        background-color: rgb(219, 219, 219);
        box-shadow: 0 0 4px 0 #c8c8c8;
      }
    }
  }
}

.tlbm-form-editor-element-settings-window {
  .tlbm-element-settings-window-inner {
    min-width: 400px;
    max-width: 1200%;
    padding: 0;
    overflow: hidden;

    .tlbm-form-settings-top-bar {
      position: relative;
      display: flex;
      box-shadow: 0 2px 3px 0 #dedede;
      z-index: 10;
      min-height: 40px;
      justify-content: stretch;
      align-items: stretch;
      padding: 10px 20px;

      h3 {
        margin: 0;
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      button {
        margin-left: 7px;
        min-width: 70px;
      }

      .tlbm-button-danger {
        margin-right: 10px;
      }
    }

    .tlbm-form-settings-container  {
      padding: 20px;
      max-height: 75vh;
      overflow-y: scroll;

      h3 {
        margin: 2rem 0 1rem 0;
        font-weight: normal;
        padding: 10px 15px;
        border-radius: 3px;
        background-color: #eaf0f3;

        &:first-child {
          margin: 0.5rem 0 1rem 0;
        }
      }

      .tlbm-form-settings-items-collection {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 1rem;
        margin-bottom: 1rem;

        .tlbm-item-settings-error {
          padding: 7px;
          border: 1px solid red;
          border-radius: 3px;
          margin: 5px 0 5px 0;
          font-weight: bold;
          color: red;
          background-color: #fdf4f4;
        }

        .form-item-settings-control {
          min-width: 150px;
          flex-grow: 1;
          flex-basis: 0;

          select, input, textarea {
            margin: 5px 0 0 0;
            width: 100%;
          }

          textarea {
            height: 120px;
          }

          &.form-item-expand {
            flex-basis: 100%;
            flex-grow: 1;
          }

          &.form-item-stretch {

          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}