.tlbm-no-calendar-alert {
  border: 1px solid red;
  padding: 20px;
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
}

.tlbm-calendar-container {
  margin: auto auto 20px auto;
  transition-property: opacity;
  transition-delay: 0.5s;
  transition-duration: 0.2s;
}
.tlbm-calendar-container .tlbm-button-select-another {
  margin-top: 20px;
  padding: 5px 10px;
}
.tlbm-calendar-container .tlbm-calendar-show-selected-date {
  font-size: 2rem;
  margin: 0;
}
.tlbm-calendar-container .tlbm-calendar .tlbm-calendar-table {
  width: 100%;
  background-color: #f5f5f5;
  table-layout: fixed;
}
.tlbm-calendar-container .tlbm-calendar .tlbm-calendar-table .tlbm-head-row th {
  padding: 10px 0 !important;
  text-align: center !important;
}
.tlbm-calendar-container .tlbm-calendar .tlbm-calendar-table .tlbm-cell {
  padding: 10px;
  height: 50px;
}
.tlbm-calendar-container .tlbm-calendar .tlbm-calendar-table .tlbm-cell .tlbm-datenumber-span {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.02);
  display: flex;
  width: 2em;
  height: 2em;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.tlbm-calendar-container .tlbm-calendar .tlbm-calendar-table .tlbm-cell.tlbm-cell-not-empty {
  background-color: #ffffff;
}
.tlbm-calendar-container .tlbm-calendar .tlbm-calendar-table .tlbm-cell.tlbm-cell-today {
  background-color: #bee5ff;
}
.tlbm-calendar-container .tlbm-calendar .tlbm-calendar-table .tlbm-cell.tlbm-cell-selectable:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}
.tlbm-calendar-container .tlbm-calendar .tlbm-calendar-table .tlbm-cell.tlbm-cell-not-bookable {
  opacity: 0.4;
}
.tlbm-calendar-container .tlbm-calendar .tlbm-month-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.tlbm-calendar-container .tlbm-calendar .tlbm-month-head .tlbm-month-title {
  font-size: 20px;
}
.tlbm-calendar-container .tlbm-calendar .tlbm-month-head .tlbm-next-month, .tlbm-calendar-container .tlbm-calendar .tlbm-month-head .tlbm-prev-month {
  width: 120px;
  padding: 5px;
}

.tlbm-calendar-date-selected {
  margin-bottom: 20px;
}

.tlbm-selected-date-finished-container {
  padding: 10px;
  background: rgba(0, 0, 0, 0.05);
}

.tlbm-input-title {
  display: block;
}

.tlbm-input-field {
  width: 100%;
}

.tlbm-radio-item {
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: #f4f4f8;
  border-radius: 10px;
}

.tlbm-button-white {
  background: white !important;
}
.tlbm-button-white:hover {
  background: #f8faff !important;
}

.tlbm-button-danger {
  color: red !important;
  border-color: red !important;
  background-color: transparent !important;
}
.tlbm-button-danger:hover {
  background-color: rgba(255, 0, 0, 0.02) !important;
}

.tlbm-timespan-part {
  display: inline-block;
  margin: 0 20px 0 0;
  min-width: 150px;
}
.tlbm-timespan-part select {
  min-width: 80px;
}

.tlbm-ruleeditor-rule-container {
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: #f4f4f8;
  border-radius: 10px;
}

.tlbm-select-datetime {
  display: flex;
  justify-content: flex-start;
}
.tlbm-select-datetime .tlbm-time {
  margin-left: 20px;
}

.tlbm-calendar-select-panel {
  margin-top: 20px;
  width: auto;
  overflow: auto;
  scroll-behavior: smooth;
  max-height: 400px;
  padding-left: 2px;
}
.tlbm-calendar-select-panel .tlbm-calendar-select-item {
  display: inline-block;
  margin: 0 30px 10px 0;
}

.tlbm-weekday-picker {
  display: flex;
  flex-wrap: wrap;
}
.tlbm-weekday-picker .tlbm-weekday-pick-item {
  background-color: rgba(245, 245, 250, 0.3);
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  min-width: 350px;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.tlbm-weekday-picker .tlbm-weekday-pick-item.tlbm-weekday-pick-item-active {
  background-color: #daf3da;
}
.tlbm-weekday-picker .tlbm-weekday-pick-item:not(.tlbm-weekday-pick-item-active) *:not(label) {
  color: lightgray;
}
.tlbm-weekday-picker .tlbm-weekday-pick-item .tlbm-weekday-checkbox-label {
  display: block;
  margin-bottom: 10px;
}
.tlbm-weekday-picker .tlbm-weekday-pick-item .tlbm-weekday-pick-item-timeblock-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 10px 0;
  position: relative;
}
.tlbm-weekday-picker .tlbm-weekday-pick-item .tlbm-weekday-pick-item-timeblock-container .button-link-delete {
  position: absolute;
  right: 2px;
  top: 2px;
}
.tlbm-weekday-picker .tlbm-weekday-pick-item .tlbm-weekday-pick-item-timeblock-container .tlbm-weekday-pick-item-timeblock:first-child {
  margin: 0 20px 0 0;
}

.tlbm-endless-checkbox-container {
  margin: 5px 0 10px 0;
}

.tlbm-shortcode-label {
  background-color: #efefef;
  padding: 3px 6px;
  border-radius: 4px;
  font-weight: bolder;
  font-family: monospace;
}

.tlbm-form-values-table {
  font-size: 16px;
}
.tlbm-form-values-table .tlbm-value-title {
  min-width: 200px;
}
.tlbm-form-values-table tr {
  height: 30px;
}

.button-timeslot-delete {
  height: 30px;
  width: 30px;
  padding: 4px !important;
  color: red !important;
  border-color: red !important;
}

.tlbm-date-select {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
}
.tlbm-date-select .dashicons {
  margin-left: 15px;
  margin-right: 5px;
}
.tlbm-date-select .button-remove-time {
  margin-left: 15px;
}
.tlbm-date-select .button-add-time {
  margin-left: 15px;
}

.tlbm-date-daterange-label {
  margin: 0 !important;
}

.tlbm-period-item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.tlbm-period-item .tlbm-period-delete, .tlbm-period-item .tlbm-timeslot-delete {
  color: red !important;
  height: 30px;
  width: 30px;
  padding: 4px !important;
  border-color: red !important;
  margin-left: 10px;
}
.tlbm-period-item label {
  display: inline-block;
  margin-bottom: 10px;
}
.tlbm-period-item .tlbm-button-add-range {
  margin-top: 10px;
}
.tlbm-period-item .tlbm-weekdays-checkboxes label {
  display: block;
}
.tlbm-period-item .tlbm-horizontal {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  flex-direction: row;
}
.tlbm-period-item .tlbm-horizontal > * {
  flex-grow: 1;
  flex-basis: 0;
}
.tlbm-period-item .tlbm-period-panel {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 0;
  flex-basis: 0;
}
.tlbm-period-item .tlbm-period-panel > *:not(:first-child) {
  margin-top: 10px;
}
.tlbm-period-item .tlbm-period-panel.tlbm-period-timeslots-panel {
  flex-direction: row;
  flex-grow: 1;
  margin-left: 50px;
}
.tlbm-period-item .tlbm-timeslots-container {
  flex-grow: 0;
  min-width: 200px;
}
.tlbm-period-item .tlbm-timeslots {
  border-radius: 3px;
}
.tlbm-period-item .tlbm-timeslots .tlbm-timeslot-item {
  display: flex;
  margin-bottom: 10px;
  background: white;
  border-radius: 5px;
  padding: 10px;
  align-items: end;
}
.tlbm-period-item .tlbm-timeslots .tlbm-timeslot-item .tlbm-time-select {
  margin-right: 10px;
}
.tlbm-period-item .tlbm-timeslots .tlbm-timeslot-item .button-link-delete {
  opacity: 0;
  margin-left: auto;
  margin-right: 10px;
  transition-property: opacity;
  transition-duration: 0.2s;
}
.tlbm-period-item .tlbm-timeslots .tlbm-timeslot-item:hover .button-link-delete {
  opacity: 1;
  margin-left: auto;
  margin-right: 10px;
}

.tlbm-flex-date-range {
  display: flex;
  flex-wrap: wrap;
  transition-property: max-height;
  transition-duration: 0.5s;
}
.tlbm-flex-date-range > div:first-child {
  margin-right: 10px;
  margin-bottom: 10px;
}

.tlbm-dateselect-to {
  margin-left: 10px;
}

.tlbm-gray-container {
  background: #f4f4f8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.tlbm-rule-actions-field .tlbm-action-rule-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  min-height: 50px;
}
.tlbm-rule-actions-field .tlbm-action-rule-item:first-child .tlbm-up-down-buttons button.tlbm-ud-button-up {
  display: none;
}
.tlbm-rule-actions-field .tlbm-action-rule-item:last-child .tlbm-up-down-buttons button.tlbm-ud-button-down {
  display: none;
}
.tlbm-rule-actions-field .tlbm-action-rule-item .tlbm-up-down-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: -40px;
  top: 0;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}
.tlbm-rule-actions-field .tlbm-action-rule-item .tlbm-up-down-buttons button {
  background: #f6f6f6;
  border: none;
  cursor: pointer;
  margin: 2px 0;
  padding: 5px;
}
.tlbm-rule-actions-field .tlbm-action-rule-item .tlbm-up-down-buttons button:hover {
  background: #e8e8e8;
}
.tlbm-rule-actions-field .tlbm-action-rule-item .tlbm-up-down-buttons button[disabled] {
  background: none;
  opacity: 0.3;
}
.tlbm-rule-actions-field .tlbm-action-rule-item .tlbm-up-down-buttons button[disabled]:hover {
  background: none;
}
.tlbm-rule-actions-field .tlbm-action-item-form {
  flex-grow: 1;
}
.tlbm-rule-actions-field .tlbm-action-item-delete {
  margin-left: 10px;
  color: red !important;
  height: 30px;
  width: 30px;
  padding: 4px !important;
  border-color: red !important;
}

.tlbm-table-list-state {
  padding: 7px 14px;
  color: #1c1c1c;
  display: inline-block;
}

.tlbm-admin-textarea {
  min-height: 150px;
  width: 50em;
}

.tlbm-inner-settings-table th {
  padding: 0 0 10px 0;
  width: auto;
  min-width: 100px;
}
.tlbm-inner-settings-table td {
  padding: 5px 5px 5px 0;
}
.tlbm-inner-settings-table td .tlbm-settings-table-short-input {
  margin-right: 2em;
}

.tlbm-admin-booking-information {
  padding: 20px;
  margin-top: 12px;
  background-color: rgba(77, 120, 141, 0.05);
}
.tlbm-admin-booking-information .tlbm-admin-booking-information-list {
  display: flex;
  flex-wrap: wrap;
}
.tlbm-admin-booking-information .tlbm-admin-booking-information-list .tlbm-admin-booking-information-item {
  margin-right: 10%;
}
.tlbm-admin-booking-information .tlbm-admin-booking-information-list .tlbm-admin-booking-information-item .tlbm-admin-booked-calendar-values {
  display: inline-block;
  font-size: 2.5em;
  margin: 10px 0;
  font-weight: normal;
}
.tlbm-admin-booking-information .tlbm-admin-booking-information-list .tlbm-admin-booking-information-item .tlbm-admin-booked-calendar-title {
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
}
.tlbm-admin-booking-information .tlbm-admin-booking-information-list .tlbm-admin-booking-information-item .tlbm-admin-booking-headline {
  font-size: 1.6em;
  font-weight: bold;
}
.tlbm-admin-booking-information .tlbm-admin-booking-information-list .tlbm-admin-booking-information-item .tlbm-admin-booking-values {
  font-size: 1.4em;
}

#tlbm_mb_tlbm_save .inside {
  margin: 0;
  padding: 0;
}
#tlbm_mb_tlbm_save .inside .spinner {
  float: right;
}
#tlbm_mb_tlbm_save .inside input {
  display: block;
}

.tlbm-admin-page-head {
  background-color: white;
  box-shadow: 0 2px 7px 0 lightgray;
  padding: 0.75rem 20px;
  margin-left: -20px;
  display: flex;
  justify-content: space-between;
}
.tlbm-admin-page-head .tlbm-admin-page-head-title {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  margin: 0.75rem 0;
}
.tlbm-admin-page-head .tlbm-admin-page-head-bar {
  display: flex;
  width: auto;
}
.tlbm-admin-page-head .tlbm-admin-page-head-bar *:not(:last-child) {
  margin-right: 1rem;
}
.tlbm-admin-page-head .tlbm-admin-page-head-bar .tlbm-admin-button-bar {
  font-size: 0.9rem;
  padding: 0 1rem;
  align-items: center;
  display: flex;
}
.tlbm-admin-page-head .tlbm-admin-page-head-bar .tlbm-admin-button-bar:not(.button-primary) {
  background: transparent;
}
.tlbm-admin-page-head .tlbm-admin-page-head-bar .tlbm-admin-button-bar:not(.button-primary):hover {
  background: #f8faff;
}

.tlbm-admin-form-input-title {
  font-size: 1.2rem;
  width: 100%;
}

.wrap h1.wp-heading-inline-secondary, .wrap h2.wp-heading-inline-secondary {
  display: inline-block;
  margin-right: 5px;
  font-size: 23px;
  font-weight: 400;
  padding: 9px 0 4px 0;
  line-height: 1.3;
}

.tlbm-dashboard {
  width: 100%;
  margin-top: 2rem;
}
.tlbm-dashboard .tlbm-dashboard-tile {
  background-color: white;
  box-shadow: 0 3px 5px 0 #dedede;
  padding: 20px;
  flex-grow: 1;
  flex-wrap: wrap;
  position: relative;
  border-radius: 7px;
}
.tlbm-dashboard .tlbm-dashboard-tile .tlbm-text-big-light {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  text-align: center;
  line-height: 3rem;
}
.tlbm-dashboard .tlbm-dashboard-tile .tlbm-dashboard-tile-heading {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 2rem;
}
.tlbm-dashboard .tlbm-dashboard-tile .tlbm-dashboard-tile-best-selling-list li {
  margin-bottom: 1.5rem;
}
.tlbm-dashboard .tlbm-dashboard-tile .tlbm-dashboard-tile-best-selling-list a {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
  text-decoration: none;
}
.tlbm-dashboard .tlbm-dashboard-tile-row {
  display: flex;
  justify-content: center;
}
.tlbm-dashboard .tlbm-dashboard-tile-row .tlbm-dashboard-tile {
  flex-grow: 1;
  flex-basis: 0;
  margin-top: 20px;
  margin-right: 20px;
}
.tlbm-dashboard .tlbm-dashboard-tile-row .tlbm-dashboard-tile:first-child {
  flex-grow: 2;
}

.tlbm-text-big-light {
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.2);
}

.tlbm-admin-empty-table {
  padding: 1rem;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tlbm-admin-page {
  padding: 0 0 2rem 0;
  margin-right: 1rem;
}
.tlbm-admin-page .tlbm-admin-page-tile {
  background-color: white;
  box-shadow: 0 2px 3px 0 #dedede;
  margin: 1.2rem 0;
  padding: 1.2rem 1.2rem;
  border-radius: 4px;
}
.tlbm-admin-page .tlbm-admin-page-tile > h2 {
  margin-top: 0;
}
.tlbm-admin-page .tlbm-admin-page-tile .subsubsub {
  margin: 0;
}
.tlbm-admin-page .tlbm-admin-page-tile-row {
  display: flex;
  justify-content: stretch;
}
.tlbm-admin-page .tlbm-admin-page-tile-row > .tlbm-admin-page-tile {
  margin-left: 10px;
  margin-right: 10px;
  flex-basis: 0;
  flex-grow: 1;
}
.tlbm-admin-page .tlbm-admin-page-tile-row > .tlbm-admin-page-tile.tlbm-admin-page-tile-grow-2 {
  flex-grow: 2;
}
.tlbm-admin-page .tlbm-admin-page-tile-row > .tlbm-admin-page-tile.tlbm-admin-page-tile-grow-3 {
  flex-grow: 3;
}
.tlbm-admin-page .tlbm-admin-page-tile-row .tlbm-admin-page-tile:first-child {
  margin-left: 0;
}
.tlbm-admin-page .tlbm-admin-page-tile-row .tlbm-admin-page-tile:last-child {
  margin-right: 0;
}
.tlbm-admin-page .wp-list-table {
  border: 1px solid #dcdcdc;
  box-shadow: none;
}
.tlbm-admin-page .wp-list-table th {
  padding: 0 0.7rem;
}
.tlbm-admin-page .wp-list-table th a {
  padding: 0.7rem 0;
}
.tlbm-admin-page .wp-list-table th.check-column {
  padding: 1.2rem 0 0 3px;
}
.tlbm-admin-page .wp-list-table td {
  padding: 1rem 0.7rem;
}
.tlbm-admin-page .wp-list-table thead tr > * {
  border-bottom: 1px solid #dcdcdc;
}
.tlbm-admin-page .wp-list-table tfoot tr > * {
  border-top: 1px solid #dcdcdc;
}

.tlbm-form-editor .tlbm-form-container {
  padding: 0 10px 10px 10px;
  background-color: #ffffff;
  margin: 20px 0 0 0;
  border: 2px solid #f5f5f5;
}
.tlbm-form-editor .tlbm-form-container .tlbm-form-dragdrop-container {
  padding: 20px 0;
}
.tlbm-form-editor .tlbm-editor-root-container {
  padding: 10px 5px;
}
.tlbm-form-editor .tlbm-editor-root-container.tlbm-empty-container {
  padding: 0;
}
.tlbm-form-editor .tlbm-button-add-element:not(:first-child) {
  margin-top: 10px;
}
.tlbm-form-editor .tlbm-is-dragging-over-container {
  border: 4px solid #135e96 !important;
}
.tlbm-form-editor .tlbm-draggable-container {
  transition-property: border;
  transition-duration: 0.1s;
}
.tlbm-form-editor .tlbm-draggable {
  min-height: 50px;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-item-box {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 20px;
  border: 1px solid #e1e1e1;
  transition-property: border;
  transition-duration: 0.2s;
  border-radius: 3px;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-item-box:hover {
  border: 1px solid #797979;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-calendar-box {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-calendar-box .tlbm-form-calendar-box-calendar-name {
  display: flex;
  justify-content: center;
  align-items: end;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-calendar-box .tlbm-form-calendar-box-calendar-name span.dashicons {
  margin-right: 5px;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-item-spacing-box {
  background-color: transparent;
  color: black;
  font-weight: bold;
  padding: 20px;
  border: 1px solid transparent;
  transition-property: border;
  transition-duration: 0.2s;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-item-spacing-box:hover {
  border: 1px solid #797979;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-item-columns {
  display: flex;
  border-radius: 3px;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-item-columns:hover > .tlbm-form-column {
  border: 1px solid #93a7c2;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-item-columns .tlbm-form-column {
  background-color: #fdfeff;
  border-radius: 3px;
  flex-grow: 1;
  min-height: 100px;
  flex-basis: 0;
  padding: 10px;
  margin: 0 10px 0 0;
  transition-property: padding, border;
  transition-duration: 0.2s;
  border: 1px solid #cddff8;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-item-columns .tlbm-form-column:last-child {
  margin: 0;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-item-columns .tlbm-form-column .tlbm-form-container-empty {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.tlbm-form-editor .tlbm-draggable .tlbm-form-item-columns .tlbm-form-column .tlbm-form-container-empty:not(:first-child) {
  margin: 10px 0;
}
.tlbm-form-editor .tlbm-editor-is-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 10px 5px;
  border: 1px solid #dedede;
  padding: 30px;
  border-radius: 3px;
}
.tlbm-form-editor .tlbm-form-item-container {
  position: relative;
  transition-property: box-shadow;
  transition-duration: 0.15s;
  overflow: hidden;
}
.tlbm-form-editor .tlbm-form-item-container:not(:first-child) {
  margin: 10px 0;
}
.tlbm-form-editor .tlbm-form-item-container .tlbm-drop-line-top, .tlbm-form-editor .tlbm-form-item-container .tlbm-drop-line-bottom {
  background-color: #135e96;
  height: 4px;
  width: 100%;
  transition-property: all;
  transition-duration: 0.1s;
}
.tlbm-form-editor .tlbm-form-item-container .tlbm-drop-line-top {
  margin: 0 0 5px 0;
}
.tlbm-form-editor .tlbm-form-item-container .tlbm-drop-line-bottom {
  margin: 5px 0 0 0;
}
.tlbm-form-editor .tlbm-form-item-container .tlbm-drop-line-disabled {
  height: 0;
  margin: 0;
}
.tlbm-form-editor .tlbm-form-item-container .tlbm-form-item-hr {
  margin: 30px 0;
}
.tlbm-form-editor .tlbm-form-item-container .tlbm-form-item-calendar {
  height: 200px;
  background-color: #efefef;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tlbm-form-editor .tlbm-form-item-container.tlbm-item-mouse-over {
  box-shadow: 0 0 5px 0 #d9d9d9;
}
.tlbm-form-editor .tlbm-form-item-container.tlbm-item-selected {
  border: 2px solid #99beec;
  border-radius: 5px;
}
.tlbm-form-editor .tlbm-form-item-container .tlbm-form-settings-print-subtitle {
  color: #bfbfbf;
  font-weight: normal;
  margin-left: 10px;
}
.tlbm-form-editor .tlbm-form-item-container .tlbm-form-settings-print-required {
  margin-left: 10px;
  font-weight: normal;
  padding: 5px 10px;
  border-radius: 5px;
  background: #ffe0e0;
}

.tlbm-window-outer.closed {
  display: none;
  opacity: 0;
}

.tlbm-window-outer {
  position: fixed;
  z-index: 9991;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  opacity: 1;
  display: flex;
}
.tlbm-window-outer .tlbm-window-inner {
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  max-width: 80%;
}

.tlbm-form-editor-select-element-window .tlbm-add-elements-window-inner {
  padding: 0 !important;
  box-shadow: 0 0 30px 0 gray;
  width: 60%;
  min-width: 500px;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.tlbm-form-editor-select-element-window .tlbm-add-elements-window-inner .tlbm-add-elements-list-container {
  overflow-y: scroll;
  flex-grow: 1;
  padding: 20px;
}
.tlbm-form-editor-select-element-window .tlbm-add-elements-window-inner .tlbm-add-elements-top-bar {
  display: flex;
  box-shadow: 0 2px 3px 0 #dedede;
  z-index: 10;
  padding: 10px;
}
.tlbm-form-editor-select-element-window .tlbm-add-elements-window-inner .tlbm-add-elements-top-bar input {
  font-size: 1.2rem;
  flex-grow: 1;
}
.tlbm-form-editor-select-element-window .tlbm-add-elements-window-inner .tlbm-form-elements-list {
  display: flex;
  flex-wrap: wrap;
}
.tlbm-form-editor-select-element-window .tlbm-add-elements-window-inner .tlbm-form-elements-list h3 {
  display: block;
  width: 100%;
}
.tlbm-form-editor-select-element-window .tlbm-add-elements-window-inner .tlbm-close-button {
  float: right;
  margin-left: 20px;
}
.tlbm-form-editor-select-element-window .tlbm-add-elements-window-inner .tlbm-element-list-item {
  display: flex;
  padding: 10px;
  background-color: #fcfcfc;
  margin: 0 10px 10px 0;
  min-width: 200px;
  max-width: 200px;
  flex-direction: column;
  cursor: pointer;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid #d7d7d7;
  transition-property: box-shadow, background-color;
  transition-duration: 0.2s;
  font-size: 16px;
}
.tlbm-form-editor-select-element-window .tlbm-add-elements-window-inner .tlbm-element-list-item .tlbm-elem-description {
  font-size: 13px;
  color: gray;
  margin-top: 5px;
}
.tlbm-form-editor-select-element-window .tlbm-add-elements-window-inner .tlbm-element-list-item:hover {
  background-color: whitesmoke;
  box-shadow: 0 0 4px 0 #c8c8c8;
}
.tlbm-form-editor-select-element-window .tlbm-add-elements-window-inner .tlbm-element-list-item:active {
  background-color: #dbdbdb;
  box-shadow: 0 0 4px 0 #c8c8c8;
}

.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner {
  min-width: 400px;
  max-width: 1200%;
  padding: 0;
  overflow: hidden;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-top-bar {
  position: relative;
  display: flex;
  box-shadow: 0 2px 3px 0 #dedede;
  z-index: 10;
  min-height: 40px;
  justify-content: stretch;
  align-items: stretch;
  padding: 10px 20px;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-top-bar h3 {
  margin: 0;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-top-bar button {
  margin-left: 7px;
  min-width: 70px;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-top-bar .tlbm-button-danger {
  margin-right: 10px;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-container {
  padding: 20px;
  max-height: 75vh;
  overflow-y: scroll;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-container h3 {
  margin: 2rem 0 1rem 0;
  font-weight: normal;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #eaf0f3;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-container h3:first-child {
  margin: 0.5rem 0 1rem 0;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-container .tlbm-form-settings-items-collection {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-container .tlbm-form-settings-items-collection .tlbm-item-settings-error {
  padding: 7px;
  border: 1px solid red;
  border-radius: 3px;
  margin: 5px 0 5px 0;
  font-weight: bold;
  color: red;
  background-color: #fdf4f4;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-container .tlbm-form-settings-items-collection .form-item-settings-control {
  min-width: 150px;
  flex-grow: 1;
  flex-basis: 0;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-container .tlbm-form-settings-items-collection .form-item-settings-control select, .tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-container .tlbm-form-settings-items-collection .form-item-settings-control input, .tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-container .tlbm-form-settings-items-collection .form-item-settings-control textarea {
  margin: 5px 0 0 0;
  width: 100%;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-container .tlbm-form-settings-items-collection .form-item-settings-control textarea {
  height: 120px;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-container .tlbm-form-settings-items-collection .form-item-settings-control.form-item-expand {
  flex-basis: 100%;
  flex-grow: 1;
}
.tlbm-form-editor-element-settings-window .tlbm-element-settings-window-inner .tlbm-form-settings-container .tlbm-form-settings-items-collection .form-item-settings-control:last-child {
  margin-right: 0;
}

.tlbm-draggable-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tlbm-draggable {
  cursor: pointer;
}

.tlbm-dragging {
  opacity: 0.4;
  cursor: move;
}

.tlbm-fe-columns {
  display: flex;
}
.tlbm-fe-columns .tlbm-fe-column {
  flex-basis: min-content;
  margin-right: 20px;
}
.tlbm-fe-columns .tlbm-fe-column:last-child {
  margin-right: 0;
}

.tlbm-fe-form-control {
  margin-bottom: 20px;
}

.tlbm-messages {
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 10px;
  margin-bottom: 20px;
}

.tlbm-booking-overview-box {
  padding: 20px 0;
  display: flex;
  justify-content: stretch;
}
.tlbm-booking-overview-box h3.tlbm-overview-section-title {
  margin-top: 2em;
  margin-bottom: 1em;
}
.tlbm-booking-overview-box h3.tlbm-overview-section-title:first-child {
  margin-top: 0;
}
.tlbm-booking-overview-box .tlbm-formular-booked-calendar {
  flex-grow: 1;
  margin-left: 40px;
}
.tlbm-booking-overview-box .tlbm-formular-content {
  flex-grow: 1;
}

.tlbm-book-now-btn {
  margin-top: 20px;
}

.tlbm-dummy {
  display: none !important;
}

/*# sourceMappingURL=main.css.map */
